header{
    background-color: rgb(16, 20, 23);

    padding: 10px;
    user-select: none;
}

header a{
    font-size: 32px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    margin: 15px;
}

header a:hover{
    color: red;
}

body{
    text-align: center;
    background-color: rgb(7, 12, 16);
    color: white;

    margin: 0;
    padding: 0;
    border: 0;
}

footer::first-line{
    color:red;
    display: flex;
    min-height: 70;
    flex-direction: column;
    justify-content: space-between;
}